

h1 {
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    margin: 20px;
    margin-bottom: 50px;
}

.form__container {
    margin-top: 50px;

}
.form__container > h1,
.form__container > p {
    text-align: center;
    color: aliceblue;
    font-style: italic;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin-bottom: 20px;
}

.form__container > p {
    font-style: normal;
    font-weight: normal;
    font-family: none;
    font-weight: 20px;
    color: azure;
    
}

.form__introduction  {
    margin: 10px;
    display: flex;
    flex-direction: column;
} 
.form__introduction > label {
    width: 300px;
}

textarea {
    margin: 15px;
    padding: 2px;
    font-size: 18px;
    background-color: rgba(16, 16, 27, 0.719);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    color: white;
}

.form__introduction > label > input {
    margin: 15px;
    padding: 2px;
    width: 400px;
    height: 40px;
    font-size: 18px;
    background-color: rgba(16, 16, 27, 0.719);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    color: white;
} 

.form__know__technologies {
    margin: 10px;
    
}

.form__know__technologies__container {
    display: flex;
    justify-content: center;
    align-items: center;
   
    padding-left: 200px;
    
}
.col-1 {
   
    
}
.col-2 {
    
}

.form__know__technologies__container > div > input {
    margin: 15px;
    padding: 2px;
    padding-left:5px ;
    width: 400px;
    height: 40px;
    font-size: 18px;
    background-color: rgba(16, 16, 27, 0.719);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    color: white;
}

.form__app__build{
    margin: 10px;
    
    display: flex;
    flex-direction: column;
}
.form__app__build__container {
    display: flex;
    flex-direction: column;
}

.form__app__build__container > label {
    width: 300px;
}

.form__app__build__container > div > label > input {
    margin: 15px;
    padding: 2px;
    width: 400px;
    height: 40px;
    font-size: 18px;
    background-color: rgba(16, 16, 27, 0.719);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    color: white;
}

.form__contact__me {
    display: flex;
    flex-direction: column;
}

.form__contact__me > label {
    width: 400px;
}

.form__contact__me >label > input {
    margin: 15px;
    padding: 2px;
    width: 600px;
    height: 40px;
    font-size: 18px;
    background-color: rgba(16, 16, 27, 0.719);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    color: white;
}

.form__education{
    display: flex;
    flex-direction: column;
}

.form__education__container > div> label > input {
    margin: 15px;
    padding: 2px;
    width: 400px;
    height: 40px;
    font-size: 18px;
    background-color: rgba(16, 16, 27, 0.719);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    color: white;
}

.form__companies__workedwith,
.form__companies__workedwith__container {
    display: flex;
    flex-direction: column;
}
.form__companies__workedwith__container > label {
    width:300px;
}
.form__companies__workedwith__container > label > input {
    margin: 15px;
    padding: 2px;
    width: 400px;
    height: 40px;
    font-size: 18px;
    background-color: rgba(16, 16, 27, 0.719);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    color: white;

}