.footer {
  margin: 20px;
  margin-bottom: 50px;
}

.footer__container > p:first-child {
  color: whitesmoke;
  font-size: 20px;
  font-weight: 500;
  font-family: cursive;
  text-align: center;
}

.footer__name {
  text-decoration: underline;
  color: blanchedalmond;
}

.footer__copyright {
  margin: 10px;
  text-align: center;
  color: ghostwhite;
  font-weight: 600;
}
